<?xml version="1.0" encoding="UTF-8"?>
<ivysettings>  
    <settings defaultResolver="chained"/>  
    <!--
    <caches default="yourcachedir">
  		<cache name="yourcachedir" basedir="/path/to/your/cachedir" />
  	</caches>
  	--> 
    
    <resolvers>  
        <chain name="chained" returnFirst="true">
     
        	<packager name="ivyroundup"
         			buildRoot="/path/to/your/packagerdir/packager/build"
         			resourceCache="/path/to/your/packagerdir/packager/cache"
       		    	>
    			<ivy pattern="http://ivyroundup.googlecode.com/svn/trunk/repo/modules/[organisation]/[module]/[revision]/ivy.xml"/>
   				<artifact pattern="http://ivyroundup.googlecode.com/svn/trunk/repo/modules/[organisation]/[module]/[revision]/packager.xml"/>
			</packager>
        	
            <ibiblio name="ibiblio" m2compatible="true"/>
            
        </chain>  
    </resolvers>  
</ivysettings>  